polkit.addRule(function(action, subject) {
    if (action.id == "net.hadess.SensorProxy.claim-sensor") {
        if (subject.local && subject.active) {
            return polkit.Result.YES;
        }
        return polkit.Result.NO;
    }
});
