[Unit]
Description=Fairphone 5 Sensor Initialization
After=hexagonrpcd-adsp-sensorspd.service
After=sys-devices-virtual-misc-fastrpc\x2dadsp.device
Wants=hexagonrpcd-adsp-sensorspd.service
ConditionPathExists=/dev/fastrpc-adsp

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/libexec/fairphone-fp5-sensors-init

[Install]
WantedBy=multi-user.target
