[Unit]
Description=Rebind LPASS Audio Clock Controller after ADSP is ready
After=hexagonrpcd-adsp-sensorspd.service
After=fairphone-fp5-sensors.service
After=rmtfs.service
Wants=hexagonrpcd-adsp-sensorspd.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStartPre=/bin/sleep 5
ExecStart=/usr/libexec/fairphone-fp5-lpass-audio-rebind
TimeoutStartSec=300

[Install]
WantedBy=multi-user.target
WantedBy=sound.target
