[Unit]
Description=Fairphone 5 Camera Initialization
After=multi-user.target
After=hexagonrpcd-adsp-sensorspd.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/libexec/fairphone-fp5-camera-init
TimeoutStartSec=60

[Install]
WantedBy=multi-user.target