[Unit]
Description=Daemon to support Qualcomm Hexagon ADSP rootpd virtual filesystem
After=tqftpserv.service sys-devices-virtual-misc-fastrpc\x2dadsp.device
Requires=tqftpserv.service sys-devices-virtual-misc-fastrpc\x2dadsp.device

[Service]
ExecStart=/usr/bin/hexagonrpcd -f /dev/fastrpc-adsp -d adsp -U root -R /usr/share/qcom/sc7280/Fairphone/FP5
Restart=always
RestartSec=3
User=fastrpc
Group=fastrpc

[Install]
WantedBy=multi-user.target
