[Unit]
Description=Hexagon ADSP Sensors Protection Domain Daemon
After=tqftpserv.service
After=dev-fastrpc\x2dadsp.device
Requires=tqftpserv.service
Wants=dev-fastrpc\x2dadsp.device
ConditionPathExists=/dev/fastrpc-adsp
StartLimitIntervalSec=300
StartLimitBurst=5

[Service]
Type=simple
ExecStartPre=/bin/sleep 2
ExecStart=/usr/bin/hexagonrpcd -f /dev/fastrpc-adsp -s -R /usr/share/qcom/qcm6490/fairphone5
Restart=on-failure
RestartSec=10
TimeoutStartSec=60
User=fastrpc
Group=fastrpc

[Install]
WantedBy=multi-user.target
