name: containers
on:
  workflow_call:
    inputs:
      fedora_branch:
        required: true
        type: string
      device:
        type: string
        required: false
      desktop:
        type: string
        required: false
      target_tag_override:
        type: string
        required: false
      xiaomi_nabu_samsung_ufs:
        type: boolean
        required: true
  workflow_dispatch:
    inputs:
      fedora_branch:
        type: choice
        description: 'fedora branch'
        required: true
        options:
          - '43'
          - '44'
          - 'rawhide'
        default: '43'
      device:
        type: choice
        description: 'device'
        required: true
        options:
          - 'all'
          - 'nothing-spacewar'
          - 'qualcomm-sdm845'
          - 'xiaomi-nabu'
          - 'xiaomi-pipa'
          - 'xunlong-orangepi3-lts'
        default: 'all'
      desktop:
        type: choice
        description: 'desktop'
        required: true
        options:
          - 'all'
          - 'tty'
          - 'gnome-desktop'
          - 'gnome-mobile'
          - 'plasma-desktop'
          - 'plasma-mobile'
          - 'phosh'
        default: 'all'
      target_tag_override:
        type: string
        description: 'override target tag'
        required: false
      xiaomi_nabu_samsung_ufs:
        type: boolean
        description: 'ARG: xiaomi_nabu_samsung_ufs'
        required: true
        default: false

run-name: >
  containers:
  fedora ${{ inputs.fedora_branch || 43 }}
  ${{ inputs.device && inputs.device != 'all' && format(' | {0}', inputs.device) || '' }}
  ${{ inputs.desktop && inputs.desktop != 'all' && format(' | {0}', inputs.desktop) || '' }}
  ${{ github.event_name == 'push' && format(' | {0}', github.event.head_commit.message) || '' }}

jobs:
  config:
    runs-on: ubuntu-24.04-arm
    outputs:
      target_tag: ${{ steps.config.outputs.target_tag }}
      expires: ${{ steps.config.outputs.expires }}
      latest: ${{ steps.config.outputs.latest }}
      registry: ${{ steps.config.outputs.registry }}
      devices: ${{ steps.config.outputs.devices }}
    steps:
      - name: config
        id: config
        uses: pocketblue/actions/container-config@main
        with:
          from_tag: ${{ inputs.fedora_branch || 43 }}
          vars_registry: ${{ vars.REGISTRY }}
          device: ${{ inputs.device || '' }}
          device_list: |
            qualcomm-sdm845
            xiaomi-nabu
            xiaomi-pipa
            xunlong-orangepi3-lts

  desktops:
    runs-on: ubuntu-24.04-arm
    outputs:
      desktops: ${{ steps.desktops.outputs.desktops }}
    steps:
      - id: desktops
        uses: pocketblue/actions/select-desktops@main
        with:
          desktop: ${{ inputs.desktop || '' }}
          desktop_list: |
            tty
            gnome-desktop
            gnome-mobile
            plasma-desktop
            plasma-mobile
            phosh

  build:
    needs:
      - config
      - desktops
    secrets: inherit
    permissions:
      packages: write
    strategy:
      fail-fast: false
      matrix:
        device: ${{ fromJson(needs.config.outputs.devices) }}
        desktop: ${{ fromJson(needs.desktops.outputs.desktops) }}
    uses: ./.github/workflows/helper-build-container.yml
    with:
      fedora_branch: ${{ inputs.fedora_branch || 43 }}
      registry: ${{ needs.config.outputs.registry }}
      device: ${{ matrix.device }}
      desktop: ${{ matrix.desktop }}
      tag: ${{ inputs.target_tag_override && inputs.target_tag_override || needs.config.outputs.target_tag }}
      latest: ${{ needs.config.outputs.latest }}
      expires: ${{ needs.config.outputs.expires }}
      xiaomi_nabu_samsung_ufs: ${{ inputs.xiaomi_nabu_samsung_ufs || false }}
