on:
  workflow_call:
    inputs:
      # container's base image
      fedora_branch:
        required: true
        type: string

      # image to build
      registry:
        required: true
        type: string
      device:
        required: true
        type: string
      desktop:
        required: true
        type: string
      tag:
        required: true
        type: string

      # misc parameters
      rechunk:
        required: false
        type: boolean
        default: false
      expires:
        required: false
        type: string
        default: ''

jobs:
  build:
    name: ${{ inputs.device }}-${{ inputs.desktop }}
    runs-on: ubuntu-24.04-arm
    permissions:
      packages: write
    steps:
      - uses: actions/checkout@v4
      - uses: extractions/setup-just@v3

      - name: Build
        id: build
        run: |
          just \
            branch=${{ inputs.fedora_branch }} \
            tag=${{ inputs.tag }} \
            device=${{ inputs.device }} \
            desktop=${{ inputs.desktop }} \
            registry=${{ inputs.registry }} \
            ${{ inputs.expires && 'expires_after=1w' || '' }} \
            ${{ inputs.rechunk && 'rechunk_suffix=-ch' || '' }}

      - name: Rechunk
        id: rechunk
        if: inputs.rechunk
        run: |
          just \
            branch=${{ inputs.fedora_branch }} \
            rechunk \
            ${{ inputs.registry }}/${{ inputs.device }}-${{ inputs.desktop }}:${{ inputs.tag }}-ch \
            ${{ inputs.registry }}/${{ inputs.device }}-${{ inputs.desktop }}:${{ inputs.tag }}

      - name: Push
        id: push
        env:
          # latest: ${{ inputs.latest }}
          username: ${{ vars.REGISTRY_USERNAME != '' && vars.REGISTRY_USERNAME || github.repository_owner }}
          password: ${{ secrets.REGISTRY_TOKEN != '' && secrets.REGISTRY_TOKEN || secrets.GITHUB_TOKEN }}
          registry: ${{ inputs.registry }}
          image_name: ${{ inputs.device }}-${{ inputs.desktop }}
          tag: ${{ inputs.tag }}
        run: |
          sudo podman login --username $username --password $password $registry
          sudo podman push $registry/$image_name:$tag
