on:
  workflow_call:
    inputs:
      fedora_branch:
        required: true
        type: string
      pocketblue_tag:
        required: true
        type: string
      latest:
        required: false
        type: boolean
        default: false
      expires_after:
        required: false
        type: string

jobs:
  base:
    permissions:
      packages: write
    secrets: inherit
    uses: ./.github/workflows/helper-build-container.yml
    with:
      push_tag: ${{ inputs.pocketblue_tag }}
      from_tag: ${{ inputs.fedora_branch }}
      from_image: quay.io/fedora/fedora-bootc
      image: base
      containerfile: base/Containerfile
      latest: ${{ inputs.latest }}
      expires_after: ${{ inputs.expires_after }}

  devices:
    needs: base
    permissions:
      packages: write
    secrets: inherit
    strategy:
      matrix:
        device: [ mipad5, mipad6, oneplus6 ]
    uses: ./.github/workflows/helper-build-container.yml
    with:
      push_tag: ${{ inputs.pocketblue_tag }}
      from_tag: ${{ inputs.pocketblue_tag }}
      from_image: ${{ vars.REGISTRY }}/base
      image: ${{ matrix.device }}-base
      containerfile: devices/${{ matrix.device }}/Containerfile
      latest: ${{ inputs.latest }}
      expires_after: ${{ inputs.expires_after }}

  desktops:
    needs: devices
    permissions:
      packages: write
    secrets: inherit
    strategy:
      matrix:
        device: [ mipad5, oneplus6 ]
        desktop: [ gnome-mobile, gnome-desktop, phosh, plasma-desktop, plasma-mobile ]
    uses: ./.github/workflows/helper-build-container.yml
    with:
      push_tag: ${{ inputs.pocketblue_tag }}
      from_tag: ${{ inputs.pocketblue_tag }}
      from_image: ${{ vars.REGISTRY }}/${{ matrix.device }}-base
      image: ${{ matrix.device }}-${{ matrix.desktop }}
      containerfile: desktops/${{ matrix.desktop }}/Containerfile
      latest: ${{ inputs.latest }}
      expires_after: ${{ inputs.expires_after }}
      rechunk: true

  # a temporory hack because plasma-mobile image doesn't build for mipad6
  desktops-mipad6:
    needs: devices
    permissions:
      packages: write
    secrets: inherit
    strategy:
      matrix:
        device: [ mipad6 ]
        desktop: [ gnome-mobile, gnome-desktop, phosh, plasma-desktop ]
    uses: ./.github/workflows/helper-build-container.yml
    with:
      push_tag: ${{ inputs.pocketblue_tag }}
      from_tag: ${{ inputs.pocketblue_tag }}
      from_image: ${{ vars.REGISTRY }}/${{ matrix.device }}-base
      image: ${{ matrix.device }}-${{ matrix.desktop }}
      containerfile: desktops/${{ matrix.desktop }}/Containerfile
      latest: ${{ inputs.latest }}
      expires_after: ${{ inputs.expires_after }}
      rechunk: true
