on:
  workflow_call:
    inputs:
      device:
        required: true
        type: string
      from_tag:
        required: true
        type: string
      target_tag:
        required: true
        type: string
      registry:
        required: true
        type: string
      expires:
        required: false
        type: string
        default: ''

jobs:
  device:
    permissions:
      packages: write
    secrets: inherit
    uses: ./.github/workflows/helper-build-container.yml
    with:
      from_registry: ${{ inputs.registry }}
      from_image: base
      from_tag: ${{ inputs.from_tag }}
      target_registry: ${{ inputs.registry }}
      target_image: ${{ inputs.device }}-base
      target_tag: ${{ inputs.target_tag }}
      context: devices/${{ inputs.device }}/container
      rechunk: false
      expires: ${{ inputs.expires }}

  desktops:
    needs: device
    permissions:
      packages: write
    secrets: inherit
    strategy:
      fail-fast: false
      matrix:
        desktop: [gnome-desktop, gnome-mobile, plasma-desktop, plasma-mobile, phosh]
    uses: ./.github/workflows/helper-build-container.yml
    with:
      from_registry: ${{ inputs.registry }}
      from_image: ${{ inputs.device }}-base
      from_tag: ${{ inputs.from_tag }}
      target_registry: ${{ inputs.registry }}
      target_image: ${{ inputs.device }}-${{ matrix.desktop }}
      target_tag: ${{ inputs.target_tag }}
      context: desktops/${{ matrix.desktop }}
      rechunk: true
      expires: ${{ inputs.expires }}
