name: images
run-name: 'images: ${{ inputs.device }} / fedora ${{ inputs.tag }}'
on:
  workflow_dispatch:
    inputs:
      device:
        type: choice
        description: 'device name'
        required: true
        options:
          - fairphone-fp5
          - nothing-spacewar
          - oneplus-sdm845
          - xiaomi-beryllium
          - xiaomi-nabu
          - xiaomi-pipa
          - xunlong-orangepi3-lts
      tag:
        type: string
        description: image tag
        required: true
        default: '43'
      nabu_samsung_ufs:
        type: boolean
        description: build with Samsung UFS support (xiaomi-nabu only)
        required: true
        default: false
jobs:
  images:
    runs-on: ubuntu-24.04-arm
    strategy:
      fail-fast: false
      matrix:
        desktop: [tty, gnome-desktop, gnome-mobile, plasma-desktop, plasma-mobile, phosh]
    name: ${{ inputs.device }}-${{ matrix.desktop }}:${{ inputs.tag }}
    env:
      IMAGE_REGISTRY: ${{ vars.REGISTRY || format('ghcr.io/{0}', github.repository_owner) }}
    steps:
      - name: Prepare environment
        run: |
          echo "IMAGE_REGISTRY=${IMAGE_REGISTRY,,}" >> ${GITHUB_ENV}
      - uses: actions/checkout@v6
      - uses: LorbusChris/pocketblue-actions/images@fp5
        with:
          device: ${{ inputs.device }}
          registry: ${{ env.IMAGE_REGISTRY }}
          image_name: ${{ inputs.device }}-${{ matrix.desktop }}
          image_tag: ${{ inputs.tag }}
          build_aux: ${{ inputs.device == 'xiaomi-nabu' && inputs.nabu_samsung_ufs && 'build-aux.samsung' || 'build-aux' }}
      - uses: actions/upload-artifact@v4
        with:
          name: pocketblue-${{ inputs.device }}-${{ matrix.desktop }}-${{ inputs.tag }}
          path: pocketblue-${{ inputs.device }}-${{ matrix.desktop }}-${{ inputs.tag }}.7z
          compression-level: 0
