name: images
on:
  workflow_dispatch:
    inputs:
      device:
        type: choice
        description: 'device name'
        required: true
        options:
          - mipad5
          - mipad6
          - oneplus6

run-name: 'images: ${{ inputs.device }}'

jobs:
  images:
    name: 'images: ${{ inputs.device }}'
    strategy:
      fail-fast: false
      matrix:
        desktop: [ gnome-desktop, gnome-mobile, phosh, plasma-desktop, plasma-mobile ]
    uses: ./.github/workflows/helper-build-image.yml
    with:
      device: ${{ inputs.device }}
      image_name: ${{ inputs.device }}-${{ matrix.desktop }}
