name: images release
permissions:
  contents: write
on:
  workflow_dispatch:
    inputs:
      fedora_branch:
        type: choice
        description: fedora branch
        required: true
        options:
          - '42'
          - '43'
          - 'rawhide'
        default: '42'

jobs:
  create_release:
    runs-on: ubuntu-24.04-arm
    name: create release
    outputs:
      release_id: ${{ steps.create_release.outputs.id }}
    steps:
      - name: version
        id: version
        run: |
          podman pull 'quay.io/pocketblue/base:${{ inputs.fedora_branch }}'
          export full_version=$(podman inspect 'quay.io/pocketblue/base:${{ inputs.fedora_branch }}' --format '{{ index .Config.Labels "org.opencontainers.image.version" }}')
          echo version=$(echo $full_version | cut -d. -f1-2) >> $GITHUB_OUTPUT
      - uses: softprops/action-gh-release@v2
        id: create_release
        with:
          tag_name: ${{ steps.version.outputs.version }}
          draft: true
          body: |
            recommended image for xiaomi pad 5: [gnome-desktop](https://github.com/pocketblue/pocketblue/releases/download/${{ steps.version.outputs.version }}/pocketblue-xiaomi-nabu-gnome-desktop-${{ inputs.fedora_branch }}.7z)
            recommended image for xiaomi pad 6: [gnome-desktop](https://github.com/pocketblue/pocketblue/releases/download/${{ steps.version.outputs.version }}/pocketblue-xiaomi-pipa-gnome-desktop-${{ inputs.fedora_branch }}.7z)
            recommended image for oneplus 6 and oneplus 6t: [gnome-mobile](https://github.com/pocketblue/pocketblue/releases/download/${{ steps.version.outputs.version }}/pocketblue-oneplus-sdm845-gnome-mobile-${{ inputs.fedora_branch }}.7z)

  images_build:
    needs: create_release
    runs-on: ubuntu-24.04-arm
    strategy:
      fail-fast: false
      matrix:
        device: [oneplus-sdm845, xiaomi-beryllium, xiaomi-nabu, xiaomi-pipa]
        desktop: [gnome-desktop, gnome-mobile, plasma-desktop, plasma-mobile, phosh]
    name: ${{ matrix.device }}-${{ matrix.desktop }}:${{ inputs.fedora_branch }}
    steps:
      - uses: actions/checkout@v6
      - uses: pocketblue/actions/images@main
        with:
          device: ${{ matrix.device }}
          registry: ${{ vars.REGISTRY }}
          image_name: ${{ matrix.device }}-${{ matrix.desktop }}
          image_tag: ${{ inputs.fedora_branch }}
          args_7z: -mmt=1 -md=1500m
      - name: check size
        run: |
          du 'pocketblue-${{ matrix.device }}-${{ matrix.desktop }}-${{ inputs.fedora_branch }}.7z' -h
          du 'pocketblue-${{ matrix.device }}-${{ matrix.desktop }}-${{ inputs.fedora_branch }}.7z'
      - uses: actions/upload-artifact@v4
        with:
          name: pocketblue-${{ matrix.device }}-${{ matrix.desktop }}-${{ inputs.fedora_branch }}
          path: pocketblue-${{ matrix.device }}-${{ matrix.desktop }}-${{ inputs.fedora_branch }}.7z
          compression-level: 0
      - uses: svenstaro/upload-release-action@v2
        with:
          release_id: ${{ needs.create_release.outputs.release_id}}
          file: pocketblue-${{ matrix.device }}-${{ matrix.desktop }}-${{ inputs.fedora_branch }}.7z
